    .logo_meeting {width: 100%;margin-bottom:-200px;}
    .google-btn{height:500px;margin-bottom:0;width:360px;}
    .googl-btn-div{position: relative;top: 20%;transform: translateY(-50%);}
    .google-img{background:#ffffff;padding:10px ;height:50px}
    .google-text{display:inline;margin:20px 32px 20px 32px;color:#ffffff;font-size:18px}