
        .img_artikel{width:100%;}
        .artikel_container{margin:20px 5px 20px 5px;}
    h2 {color:#349b34;font-size:20px;text-transform: uppercase;}
    ul{padding-left: 0px}    
    .full-width{width:100%;}
    .h1-footer{font-size: 15px;padding: 0px;margin:20px 0px 20px 0px;line-height: 25px}
    .p-footer{font-size: 11px;line-height: 20px}
    .td_left{text-align: left;}
    .td_right{text-align: right;}
    .td_center{text-align: center;}
    .search-paket-box{padding: 20px 0px 20px 20px;margin:0px 10px 30px 10px;background-color: #f2f2f2; box-shadow: 2px 2px 5px #888888;}
    .icon-linner li ul li h5{color: #f0a64d;}
    .icon-linner li ul li .fa{color: #349b34;}
	.full-width{width:100%}
	.title-head{margin-bottom: 10px;margin-top:0px;}
    .line-height18{line-height: 18px}
    .font25{font-size: 25px}